<div
  class="container flex items-center justify-center min-h-[35rem] bg-[#2595be9b]"
>
  <div class="register-card">
    <div class="register-card-header">
      <h1 class="text-4xl font-semibold">Quên mật khẩu</h1>
    </div>
    <form class="register-card-form" method="POST" action="/change-password">

      {{!-- {{{alert}}} --}}

      <table style="width: 100%;">
        <tr>
          <td>Nhập mật khẩu cũ:</td>
          <td><input
              type="password"
              name="pass"
              id="pass"
              placeholder="Nhập mật khẩu cũ"
              required
            /></td>
          {{! <input type="hidden" id="otp" name="otp" value="makeid(3)" /> }}
        </tr>
        <tr>
          <td>Nhập mật khẩu mới:</td>
          <td><input
              type="password"
              name="pass1"
              id="pass1"
              placeholder="Nhập mật khẩu mới"
              required
            /></td>
          {{! <input type="hidden" id="otp" name="otp" value="makeid(3)" /> }}
        </tr>
        <tr>
          <td>Nhập mật khẩu mới lần 2:</td>
          <td><input
              type="password"
              name="pass2"
              id="pass2"
              placeholder="Nhập mật khẩu mới lần 2"
              required
            /></td>
          {{! <input type="hidden" id="otp" name="otp" value="makeid(3)" /> }}
        </tr>
      </table>
      <button type="submit">Đổi mật khẩu</button>

    </form>
    {{error}}
  </div>
</div>