<div class="container flex items-center justify-center min-h-[35rem] bg-[#2595be9b]">
  <div class="register-card">
    <div class="register-card-header">
      <h1 class="text-4xl font-semibold">Quên mật khẩu</h1>
      <div>Vui lòng nhập email để nhận mật khẩu mới</div>
    </div>
    <form class="register-card-form"  method="POST" action="/forgotPassword2">
      
     
      {{!-- {{{alert}}} --}}
      
      <table style="width: 100%;">
         <tr class="hidden">
           <td>Email:</td>
          <td><input type="email" name="email" id="email" placeholder="Nhập email" value="{{email}}" readonly required /></td></tr><tr>
        <tr class="hidden"><td>Phone:</td>
          <td><input type="text" name="phone" id="phone" placeholder="Nhập số điện thoại" value="{{phone}}" readonly/></td>
        </tr>
        <tr>
          <td>Nhập mật khẩu mới:</td>
          <td><input type="password" name="pass1" id="pass1" placeholder="Nhập mật khẩu mới" required /></td>
          {{!-- <input type="hidden" id="otp" name="otp" value="makeid(3)" /> --}}
        </tr>
        <tr>
          <td>Nhập mật khẩu mới lần 2:</td>
          <td><input type="password" name="pass2" id="pass2" placeholder="Nhập mật khẩu mới lần 2" required /></td>
          {{!-- <input type="hidden" id="otp" name="otp" value="makeid(3)" /> --}}
        </tr>
      </table>
      <button type="submit">Gửi</button>
      
    </form>
    {{error}}
  </div>
</div>