<div class="container flex items-center justify-center min-h-[35rem] bg-[#2595be9b]">
  <div class="register-card">
    <div class="register-card-header">
      <h1 class="text-4xl font-semibold">Quên mật khẩu</h1>
      <div>Vui lòng nhập email để nhận mật khẩu mới</div>
    </div>
    <form class="register-card-form"  method="POST" action="/forgotPassword1">
      
     
      {{!-- {{{alert}}} --}}
      <table style="width: 100%;">
        <tr>
           <td>Email:</td>
          <td><input type="email" name="email" id="email" placeholder="Nhập email" value="{{email}}" required /></td></tr>
        <tr><td>Phone:</td>
          <td><input type="text" name="phone" id="phone" placeholder="Nhập số điện thoại" value="{{phone}}" /></td>
        </tr><tr>
            
          <td>OTP:</td>
          <td><input type="number" name="otp" id="otp" placeholder="Nhập otp" required /></td>
          {{!-- <input type="hidden" id="otp" name="otp" value="makeid(3)" /> --}}
        </tr>
      </table>
      <button type="submit">Gửi</button>
      
    </form>
    {{error}}
  </div>
</div>