{{!-- Slider Start --}}
<div class="slider-container">
    <div class="slides">
        <img class="mySlides" src="../../public/img/banner1.png" alt="banner1">
        <img class="mySlides" src="../../public/img/banner2.png" alt="banner2">
        <img class="mySlides" src="../../public/img/banner3.png" alt="banner3">
    </div>
    <div class="slider-btn">
        <i class="fa-solid fa-2x fa-chevron-left" onclick="plusDivs(-1)"></i>
        <i class="fa-solid fa-2x fa-chevron-right" onclick="plusDivs(+1)"></i>
    </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
    }

    var slideIndex = 0;
    
    //Automatic slider
    carousel();
    function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1}
    x[slideIndex-1].style.display = "block";
    setTimeout(carousel, 3500); // Change image every 3,5 seconds
    }
</script>
{{!-- Slider End --}}
