{{!-- Slider Start --}}
<div class="slider-container">
    <div class="slides">
        <img class="mySlides" src="../../public/img/banner1.png" alt="banner1">
        <img class="mySlides" src="../../public/img/banner2.png" alt="banner2">
        <img class="mySlides" src="../../public/img/banner3.png" alt="banner3">
    </div>
    <div class="slider-btn">
        <i class="fa-solid fa-2x fa-chevron-left" onclick="plusDivs(-1)"></i>
        <i class="fa-solid fa-2x fa-chevron-right" onclick="plusDivs(+1)"></i>
    </div>
</div>
{{!-- Slider End --}}

{{!-- Content Start --}}
<div class="bg-blue-200">
    <h1 class="font-bold text-3xl text-center pt-16" >Có gì trên Meo Meo</h1>
    <p class="text-center font-medium text-xl pt-5"> Meo Meo là ứng dụng thanh toán với nhiều tính năng độc đáo.<br>
    Được xây dựng chuyên biệt để thỏa mãn mọi nhu cầu thanh toán trong cuộc sống và nhu cầu kinh doanh...</p>

    <div class="grid grid-row-1 lg:grid-cols-3 gap-x-3 py-12">
        <div class="grid grid-rows-3 ">
            <div class="pb-[30px] lg:pb-0 text-center">
                <h1 class="grid justify-item-center lg:justify-items-end text-2xl font-semibold pb-4">Chuyển tiền nhanh</h1>
                <p class="grid justify-item-center lg:justify-items-end">Chuyển tiền trong nháy mắt</p>
                <p class="grid justify-item-center lg:justify-items-end ">mọi giao dịch được mã hóa bảo mật tuyệt đối</p>
            </div>
            <div class="pb-[30px] lg:pb-0 text-center">
                <h1 class="grid justify-item-center  lg:justify-items-end text-2xl font-semibold pb-4">Chuyển tiền nhanh</h1>
                <p class="grid justify-item-center lg:justify-items-end">Chuyển tiền trong nháy mắt</p>
                <p class="grid justify-item-center lg:justify-items-end">mọi giao dịch được mã hóa bảo mật tuyệt đối</p>
            </div>
            <div class="pb-[30px] lg:pb-0 text-center">
                <h1 class="grid justify-item-center text-center lg:justify-items-end text-2xl font-semibold pb-4">Chuyển tiền nhanh</h1>
                <p class="grid justify-item-center lg:justify-items-end">Chuyển tiền trong nháy mắt</p>
                <p class="grid justify-item-center lg:justify-items-end">mọi giao dịch được mã hóa bảo mật tuyệt đối</p>
            </div>
        </div>

        <div class="hidden lg:block">
            <img src="../../public/img/logo.jpg" alt="logo">
        </div>
        
        <div class="grid grid-rows-3">
            <div class="pb-[30px] lg:pb-0 text-center lg:text-left">
                <h1 class="text-center lg:text-left text-2xl font-semibold pb-4 lg:justify-items-end">Chuyển tiền nhanh</h1>
                <p>Chuyển tiền trong nháy mắt<br>mọi giao dịch được mã hóa bảo mật tuyệt đối</p>
            </div>
            <div class="pb-[30px] lg:pb-0 text-center lg:text-left">
                <h1 class="text-center lg:text-left text-2xl font-semibold pb-4 lg:justify-items-end">Chuyển tiền nhanh</h1>
                <p>Chuyển tiền trong nháy mắt<br>mọi giao dịch được mã hóa bảo mật tuyệt đối</p>
            </div>
            <div class="pb-[30px] lg:pb-0 text-center lg:text-left">
                <h1 class="text-center lg:text-left text-2xl font-semibold pb-4 lg:justify-items-end text">Chuyển tiền nhanh</h1>
                <p>Chuyển tiền trong nháy mắt<br>mọi giao dịch được mã hóa bảo mật tuyệt đối</p>
            </div>
        </div>
    </div>

    <div class="bg-blue-400 rounded-3xl hidden lg:block">
        <div class="grid grid-cols-3">
            <div>
                <img class="w-full h-full" src="../../public/img/image1.png" alt="image1">
            </div>
            <div>
                <h1 class="font-bold text-2xl py-10 pl-24">Dịch vụ nổi bật</h1>
                <div class="text-blue-800 font-bold pb-16">
                    <p class="py-2">Thanh toán nhanh dễ hàng</p>
                    <p class="py-2">Thao tác ở bất kỳ đâu</p>
                    <p class="py-2">QR Code</p>
                    <p class="py-2">Giao dịch nhanh gọn</p>
                    <p class="py-2">Chuyển tiền nhanh chóng</p>
                </div>
            </div>
            <div>
                <img class="w-96 h-full" src="../../public/img/logo.jpg" alt="logo">
            </div>
        </div>
    </div>
</div>
{{!-- Content End --}}




{{!-- Slider JS --}}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
    }

    var slideIndex = 0;
    
    //Automatic slider
    carousel();
    function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1}
    x[slideIndex-1].style.display = "block";
    setTimeout(carousel, 3500); // Change image every 3,5 seconds
    }
</script>
