<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <H1>this is home page</H1>
    <div style="font-size:50px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores numquam eaque laudantium dicta quam voluptatum blanditiis esse nobis incidunt! Unde quo culpa earum nesciunt corporis laboriosam deleniti tenetur numquam itaque!</div>
</body>
</html>