<div class="lg:grid lg:justify-items-center">
    <div
        class="lg:grid lg:justify-items-center bg-blue-400 pb-[10px] my-[20px] mx-[20px] rounded-xl lg:w-[80%] lg:pt-[20px]">
        <h1 class="pt-[10px] pl-[22px] font-bold pb-4 lg:text-[25px]">Danh sách thẻ đã mua</h1>
        <div class=" bg-blue-200 w-[80%] mb-[10px] mx-auto rounded-xl py-[15px] lg:py-[30px] px-[15px] lg:px-[20px] lg:text-2xl">
            <div class="grid grid-cols-3 py-[10px]">
                    <div class="text-xs lg:text-2xl lg:flex lg:items-center lg:pl-[20px] lg:h-[60px]">Nhà mạng</div>
                    <div
                        class="col-span-2 rounded-[10px] min-w-fit h-[20px] lg:h-[50px] bg-[#d9f6fd] text-xs lg:text-2xl text-center pt-[3px] lg:pt-[12px]">
                        {{type}}</div>
            </div>
            <div class="grid grid-cols-3 py-[10px]">
                    <div class="text-xs lg:text-2xl lg:flex lg:items-center lg:pl-[20px] lg:h-[60px]">Mệnh giá</div>
                    <div
                        class="col-span-2 rounded-[10px] min-w-fit h-[20px] lg:h-[50px] bg-[#d9f6fd] text-xs lg:text-2xl text-center pt-[3px] lg:pt-[12px]">
                        {{format price}}</div>
            </div>
            <div class="lg:flex">
                <div class="text-xs lg:text-2xl lg:flex lg:items-center lg:pl-[20px] lg:h-[60px] w-[40%]">
                    Danh sách thẻ
                </div>
                <span class="flex w-[100%] lg:w-[60%]">
                    <div class="flex lg:w-[100%] justify-between flex-wrap">
                        {{{card}}}
                    </div>
                </span>
            </div>
            
            
        </div>


        <a href="/" class="items-center">
            <button type="button"
                class="ml-[10px] lg:ml-[30px] my-[15px] inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-[8px] lg:text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">←
                Xác nhận</button>
        </a>

    </div>
</div>    