<div class="bg-blue-400 rounded-3xl px-24 py-12 m-11 w-3/6">
    <h1 class="text-2xl font-bold pb-14">Thông tin cá nhân</h1>
    <form action="#">
        <table class="bg-blue-200 rounded-3xl">
            <tr>
                <td class="pt-10 font-medium text-lg pl-48">Ho va ten</td>
                <td class="pt-10 font-medium text-lg pl-48">Bui Trung Kien</td>
            </tr>
            <tr>
                <td class="pt-10 font-medium text-lg pl-48">Ngay sinh</td>
                <td class="pt-10 font-medium text-lg pl-48">13/05/2002</td>
            </tr>
            <tr>
                <td class="pt-10 font-medium text-lg pl-48">So dien thoai</td>
                <td class="pt-10 font-medium text-lg pl-48">0123456789</td>
            </tr>
            <tr>
                <td class="pt-10 font-medium text-lg pl-48">Email</td>
                <td class="pt-10 font-medium text-lg pl-48">520H0547@student.tdtu.edu.vn</td>
            </tr>
            <tr>
                <td class="pt-10 font-medium text-lg pl-48">Dia chi</td>
                <td class="pt-10 font-medium text-lg pl-48">Quan 7, Thanh pho HCM</td>
            </tr>
            
        </table>
        <div class="flex space-x-2 justify-center pt-7">
            <button
                type="button"
                data-mdb-ripple="true"
                data-mdb-ripple-color="light"
                class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out rounded-full"
            >Nap tien</button>
        </div>
    </form>
</div>