<div class="lg:grid lg:justify-items-center">
    <div class="lg:grid lg:justify-items-center bg-blue-400 pb-[10px] my-[20px] mx-[20px] rounded-xl lg:w-[80%] lg:pt-[20px]">
        <h1 class="pt-[10px] pl-[22px] font-bold pb-4 lg:text-[25px]">Chuyển tiền</h1>
        <form action="/otp-send" method="post" class="lg:w-[80%]">
            <div class=" grid grid-cols-2 lg:grid-cols-3 lg:gap-4 bg-blue-200 mx-4 mb-[10px] rounded-xl gap-y-6 py-[15px] lg:py-[30px] px-[15px] lg:px-[20px] lg:text-2xl">
                {{!-- <div class="lg:flex lg:items-center lg:pl-[40px] text-[16px] lg:text-[20px] lg:h-[60px]">Số thẻ</div>
                <span class="rounded-md lg:pl-[40px] text-[16px] lg:text-[20px] lg:col-span-2 lg:mr-[20px] bg-[#d9f6fd] pl-[10px] text-xs lg:text-2xl flex items-center">...</span> --}}
                <input type="hidden" class="rounded-md lg:pl-[40px] text-[16px] lg:text-[20px] lg:col-span-2 lg:mr-[20px] bg-[#d9f6fd] pl-[10px] text-xs lg:text-2xl flex items-center" name="phone_send" value="{{phone_send}}"></input>
                <input type="number" id="amount_money" value="{{amount_money}}" name="amount_money" class="rounded-md lg:pl-[40px] text-[16px] lg:text-[20px] lg:col-span-2 lg:mr-[20px] bg-[#d9f6fd] pl-[10px] text-xs lg:text-2xl flex items-center" onchange="change(value)">
                <script> 
                    function format(money) {
                        let VND = new Intl.NumberFormat('de-DE', {
                            style: 'currency',
                            currency: 'VND'
                        })
                        return VND.format(money)
                    }
                    

                    function change(value){  
                        let x=document.getElementById("amount_money").value;
                        document.getElementById("fee").innerHTML= format(value*5/100)
                    }
                </script>
                <textarea value={{note}} hidden="hidden" name="note"class="rounded-md lg:pl-[40px] text-[16px] lg:text-[20px] lg:col-span-2 lg:mr-[20px] bg-[#d9f6fd] pl-[10px] text-xs lg:text-2xl h-[150px] lg:h-[200px] pt-[10px]"></textarea> 
                                <div class="lg:flex lg:items-center lg:pl-[40px] text-[16px] lg:text-[20px] lg:h-[60px]">OTP</div>
                <input type="number" id="otp" name="otp" class="rounded-md lg:pl-[40px] text-[16px] lg:text-[20px] lg:col-span-2 lg:mr-[20px] bg-[#d9f6fd] pl-[10px] text-xs lg:text-2xl flex items-center" onchange="change(value)">
            </div>
            <div class="flex space-x-2 justify-center">
                <button type="submit"
                    class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out my-[10px]">Chuyển tiền</button>
            </div>
            {{{error}}}
        </form>
    </div>
</div>