<div class="bg-blue-400 rounded-3xl px-24 py-12 m-11">
    <h1 class="text-2xl font-bold pb-14">Thông tin cá nhân</h1>
    <table class="bg-blue-200 rounded-3xl w-full">
        <tr>
            <td class="pt-10 font-medium text-lg pl-48">Ho va ten</td>
            <td class="pt-10 font-medium text-lg pl-48">Bui Trung Kien</td>
        </tr>
        <tr>
            <td class="pt-10 font-medium text-lg pl-48">Ngay sinh</td>
            <td class="pt-10 font-medium text-lg pl-48">13/05/2002</td>
        </tr>
        <tr>
            <td class="pt-10 font-medium text-lg pl-48">So dien thoai</td>
            <td class="pt-10 font-medium text-lg pl-48">0123456789</td>
        </tr>
        <tr>
            <td class="pt-10 font-medium text-lg pl-48">Email</td>
            <td class="pt-10 font-medium text-lg pl-48">520H0547@student.tdtu.edu.vn</td>
        </tr>
        <tr>
            <td class="pt-10 font-medium text-lg pl-48">Dia chi</td>
            <td class="pt-10 font-medium text-lg pl-48">Quan 7, Thanh pho HCM</td>
        </tr>
        <tr>
            <td class="pt-10 font-medium text-lg pl-48">So du</td>
            <td class="pt-10 font-medium text-lg pl-48">40.000.000.</td>
        </tr>
        <tr>
            <td class="pt-10 pb-12 font-medium text-lg pl-48">Tinh trang</td>
            <td class="pt-10 pb-12 font-medium text-lg pl-48">Da xa minh</td>
        </tr>
        {{!-- Neu tai khoan chua xac minh --}}
        {{!-- <tr>
            <td class="pt-10 font-medium text-lg pl-48" rowspan="2">CMND/CCCD:</td>
            <td class="pt-10 font-medium text-lg pl-48">
                <div class="file">
                    Mặt trước:<br><input type="file" id="fieldPhoto" name="photo" accept="image/*" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="pt-10 font-medium text-lg pl-48 pb-12">
                <div class="file">
                    Mặt sau:<br><input type="file" id="" id="fieldPhoto2" name="photo2" accept="image/*" value="" />
                </div>
            </td>
        </tr> --}}
    </table>
    <div class="text-center pt-9"><a class="text-2xl font-medium" href="#">Cap nhat thong tin</a></div>
</div>