
<div class="register-container">
  <div class="register-card">
    <div class="register-card-header">
      <h1 class="text-4xl font-semibold">Đăng Ký</h1>
      <div>Đăng ký tài khoản nhanh chóng, dễ dàng và bảo mật</div>
    </div>
    <form
      class="register-card-form"
      enctype="multipart/form-data"
      method="POST"
      action="/register"
    >{{{alert}}}
      <table style="width: 100%;">
        <tr>
          <td>Họ và tên:</td>
          <td><input
              type="text"
              placeholder="Nhập họ và tên"
              name="fullname"
              id="fullname"
              required
            /></td>
        </tr>
        <tr>
          <td>Ngày sinh:</td>
          <td><input type="date" required name="birthday" /></td>
        </tr>
        <tr>
          <td>Số điện thoại:</td>
          <td><input
              type="text"
              name="phone"
              id="phone"
           
              placeholder="Nhập số điện thoại"
              required
            /></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input
              type="email"
              name="email"
              id="email"
              placeholder="Nhập email"
              required
            /></td>
        </tr>
        <tr>
          <td>Địa chỉ:</td>
          <td><input
              type="text"
              placeholder="Nhập địa chỉ"
              name="add"
              required
            /></td>
        </tr>
        <tr>
          <td rowspan="2">CMND/CCCD:</td>
          <td>
            <div class="file">
                Mặt trước:<br><input type="file" id="fieldPhoto" name="photo" accept="image/*" value="" />
              </div> 
          </td>
        </tr>
        <tr>
          <td>
              <div class="file">
                Mặt sau:<br><input type="file" id="" id="fieldPhoto2" name="photo2" accept="image/*" value=""/>
              </div>
          </td>
        </tr>
      </table>
      <button type="submit">Đăng Ký</button>
    </form>

  </div>
</div>