<footer class="bg-myColor pt-[30px]">
    <div class="footer-containter gap-x-4">
        <div class="grid grid:rows-1 justify-items-start pl-20 lg:grid-cols-3 lg:justify-items-center">
            <div class="footer-col pb-14">
                <h4 class="text-sm font-medium">Dịch vụ</h4>
                <ul>
                    <li><a href="#">Nạp tiền</a></li>
                    <li><a href="#">Rút tiền</a></li>
                    <li><a href="#">Chuyển tiền</a></li>
                    <li><a href="#">Mua card điện thoại</a></li>
                </ul>
            </div>
            <div class="footer-col pb-14">
                <h4 class="text-sm font-medium">Chăm sóc</h4>
                <ul>
                    <li><div>Hotline: 1234566</div></li>
                    <li><div>Email: hotro@meomeopay.com</div></li>
                </ul>
            </div>
            <div class="footer-col pb-14">
                <h4 class="text-sm font-medium">Về chúng tôi</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <div class="social-btn">
                        <i class="fa-brands fa-2x fa-facebook"></i>
                        <i class="fa-brands fa-2x fa-instagram"></i>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</footer>