<header class="flex justify-between items-center bg-white py-0 px-0 lg:px-150 h-120">
  <a class="text-myColor text-[20px] lg:text-[25px]" href="/"><img class="h-[90px] w-[90px] lg:h-150 lg:w-150 cursor-pointer" src="../../../public/img/logo.jpg" alt="logo"></a>
    <nav class="lg:inline-flex">
        <ul class="nav__links z-10 absolute lg:static bg-gray-200 lg:bg-white w-full min-h-[50%] lg:h-10 pl-[20px] lg:pl-7 pt-[20px] lg:pt-0 left-0 top-[85px] lg:flex hidden transition-all ease duration-500">
            <li class="lg:inline-block py-[10px] lg:py-0 lg:px-5 lg:relative lg:pr-1">
                <a class="text-myColor text-[20px] lg:text-[25px]" href="/">Trang chủ</a>
            </li>
            <li class="lg:inline-block py-[10px] lg:py-0 lg:px-5 lg:relative lg:pr-1">
                <a class="text-myColor text-[20px] lg:text-[25px]" href="#">Dịch vụ</a>
                <ul class="subNavMenu text-myColor pt-[10px] w-full absolute lg:top-9 lg:hidden lg:w-300  lg:bg-color1 lg:rounded-xl lg:shadow-md lg:pt-0">
                    <li class="py-3"><a class="py-1 px-4" href="/nap-tien">Nạp tiền</a></li>
                    <li class="py-3"><a class="py-1 px-4" href="/rut-tien">Rút tiền</a></li>
                    <li class="py-3"><a class="py-1 px-4" href="/chuyen-tien">Chuyển tiền</a></li>
                    <li class="py-3"><a class="py-1 px-4" href="/mua-card">Mua card điện thoại</a></li>
                    <li class="py-3"><a class="py-1 px-4" href="/transaction-history">Lịch sử giao dịch</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="ml-0 lg:ml-auto">
        {{!-- User chưa xác minh --}}
        {{!-- Chào ... <a href="/profile"><i name="user-icon" class="fa-solid fa-2x fa-user-lock"></i></a> --}}
        {{!-- User đã xác minh --}}
        {{!-- Chào ... <a href="/profile"><i class="fa-solid fa-2x fa-user"></i></a> --}}
        {{!-- User chưa đăng nhập hoặc chưa đăng kí --}}
        {{status}}
    </div>
    <div class="block w-[90px] pl-8 lg:hidden">
        <div id="menu">
            <i onclick="Menu(this)" class="fa-solid fa-2x fa-bars"></i>
        </div>
        <div id="close" class="hidden">
            <i onclick="Close(this)" class="fa-solid fa-2x fa-xmark"></i>
        </div>
    </div>
</header>

<script>
    function Menu(e){
        let list = document.querySelector('ul');
        list.classList.remove('hidden')

        let menu = document.getElementById('menu')
        menu.classList.add('hidden')

        let close = document.getElementById('close')
        close.classList.add('block'), close.classList.remove('hidden')
    }

    function Close(e){
        let list = document.querySelector('ul');
        list.classList.add('hidden')

        let menu = document.getElementById('menu')
        menu.classList.add('block'), menu.classList.remove('hidden')

        let close = document.getElementById('close')
        close.classList.add('hidden'), close.classList.remove('block')
    }
    function setcurrent(){

    }
</script>